<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.0/simplex/bootstrap.min.css" rel="stylesheet">
    <title><%= t('rsvp_mailer.subject') %></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <small><%= t('rsvp_mailer.notice') %></small>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t('rsvp.guest_list') %></h3>
          <%= render "wedding/guests/show_guests_details", guests: @booking.guests %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t('rsvp.contact') %></h3>
          <address>
            <%= t('rsvp.contact_field.phone') + t('g.colon') + @booking.phone %> <br />
            <%= t('rsvp.contact_field.email') + t('g.colon') %><%= @booking.email.blank? ? "/" : mail_to(@booking.email.downcase, @booking.email.downcase) %>
          </address>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t("rsvp.attendance_title") %></h3>
          <%= render "wedding/events/show_events_table", booked_events: @booking.events %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t("rsvp.comments") %></h3>
          <%= @booking.comments %>
        </div>
      </div>
    </div>
  </body>
</html>
