<%= t('rsvp_mailer.subject') %>
================================================================================
<%= t('rsvp_mailer.notice') %>


* <%= t("rsvp.guest_list") %>
<% @booking.guests.each do |guest| %>
  - <%= guest.first_name %> <%= guest.family_name %></td> (<%= t('rsvp.menu.' + Wedding::Guest::MENU.select { |k, v| v == guest.menu }.map { |k,v| k.to_s }.first ) %>)
<% end %>


* <%= t("rsvp.contact") %>
  - <%= @booking.phone %>
  - <%= @booking.email.blank? ? "/" : @booking.email.downcase %>


* <%= t("rsvp.attendance_title") %>
<% Wedding::Event.all.each do |event| %>
  - <%= t(event.locale_entry + '.name') + t('g.colon') + (@booking.events.include?(event) ? t('g.y').capitalize : t('g.n').capitalize) %>
<% end %>


* <%= t("rsvp.comments") %>
<%= @booking.comments %>
