<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title><%= t('cars_mailer.subject') %></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <small><%= t('cars_mailer.notice') %></small>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t('cars_mailer.details') %></h3>
          <ul>
            <li><%= t('carpooling.from') + t('g.colon') + ' ' + @car.from %></li>
            <li><%= t('carpooling.to') + t('g.colon') + ' ' + @car.to %></li>
            <li><%= t('carpooling.departure_time') + t('g.colon') + ' ' + l(@car.departure_time, format: :default) %></li>
            <li><%= t('carpooling.contact') + t('g.colon') %><br />
              <ul>
                <li><%= "#{@car.driver.first_name} #{@car.driver.family_name}" %></li>
                <li><%= t('carpooling.email') + t('g.colon') + ' ' + @car.driver.email %></li>
                <li><%= t('carpooling.phone') + t('g.colon') + ' ' + @car.driver.phone %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t('cars_mailer.unsubscribe.title') %></h3>
          <%= t('cars_mailer.unsubscribe.text') %><br />
          <%= form_for(@car, url: wedding_car_path(id: @car, only_path: false), authenticity_token: false, method: :delete) do  %>
            <%= submit_tag t('cars_mailer.unsubscribe.link'), class: 'btn btn-link' %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
