<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="text-center">
      <h1><%= t('home.save_the_date') %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="pre-wed-home-carousel" class="carousel slide pre-wed-carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_02.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_03.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_04.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_06.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_07.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_11.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_13.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_14.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_15.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_18.jpg', class: 'pre-wed-center' %></div>
        <div class="item active"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_19.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_21.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_22.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_24.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_25.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_26.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_27.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_28.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_29.jpg', class: 'pre-wed-center' %></div>
        <div class="item"><%= image_tag 'wedding/pre-wed/helene_and_marc_prewedding_30.jpg', class: 'pre-wed-center' %></div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#pre-wed-home-carousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#pre-wed-home-carousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="text-center">
      <%= t('home.photographer') %> <a href="http://www.maxzphotography.com/helene-marc-london-uk/" target="_blank">MAXZ Photography</a>
    </div>
  </div>
</div>
