<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t('menu.contact') %></h3>
    <p>
      <b>Office du Tourisme d'Erdeven</b><br />
      <%= link_to_external('www.ot-erdeven.fr') %><br />
      <%= phone_to('02.97.55.64.60') %>
    </p>

    <h3><%= t('menu.stay') %></h3>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <b>Gites &amp; Chambres d'Hôtes</b><br />
    <ul>
      <li><b>Erdeven</b><br />
        <ul>
          <li>
            <p>
              Gite Communal du Parc du Kéravéon<br />
              5 chambres<br />
              Contact Office Tourisme : Mme. Le Jossec<br />
              <%= link_to_external('www.ot-erdeven.fr') %><br />
              <%= phone_to('02.97.55.64.60') %>
            </p>
          </li>

          <li>
            <p>
              Location maison individuelles<br />
              9 personnes<br />
              <%= phone_to('06.77.66.26.92') %>
            </p>
          </li>

          <li>
            <p>
              Chambres d'hôtes "Le Clos de Men Allen"<br />
              5 chambres<br />
              <%= link_to_external('www.leclosdumenallen.com') %><br />
              <%= phone_to('06.11.50.22.90') %>
            </p>
          </li>

          <li>
            <p>
              Chambres d'Hôtes les Prenuliers<br />
              1 chambre 2 personnes<br />
              1 chambre 3 personnes<br />
              <%= mail_to('c.m.hillion@wanadoo.fr') %><br />
              <%= phone_to('02.97.55.63.21') %>
            </p>
          </li>

          <li>
            <p>
              Le Hameau de Keryargon<br />
              4 gites + 4 chambres d'hôtes<br />
              Contact : M. Le Blois<br />
              <%= mail_to('keryargon@free.fr') %><br />
              <%= phone_to('02.97.55.94.25') %><br />
              <%= phone_to('06.08.21.31.47') %>
            </p>
          </li>
        </ul>
      </li>
      <li><b>Ploemel</b><br />
        <ul>
          <li>
            <p>
              Dihan<br />
              Cabanes perchées, Gites<br />
              www.dihan-evasion.org<br />
              M. et Mme. Le Masle<br />
              <%= phone_to('02.97.56.88.27') %><br />
              <%= phone_to('06.08.10.05.83') %>
            </p>
          </li>

          <li>
            <p>
              Gite de Kerimel<br />
              M. et Mme. Malherbes<br />
              <%= link_to_external('kerimel.free.fr') %><br />
              <%= phone_to('02.97.56.84.72') %>
            </p>
          </li>
        </ul>
      </li>
      <li><b>Belz</b><br />
        <ul>
          <li>
            <p>
              Les Fermes de Kercadoret<br />
              Gites de caractères &amp; chambres d'hôtes<br />
              M. et Mme. Rolland<br />
              <%= phone_to('02.97.55.44.01') %>
            </p>
          </li>
          <li>
            <p>
              Le Domaine du Ganquis<br />
              <%= link_to_external('www.leganquis.com') %><br />
              <%= phone_to('06.78.37.49.55') %>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <b>Hôtels et Résidences Hôtelières</b><br />
    <ul>
      <li><b>Erdeven</b><br />
        <ul>
          <li>
            <p>
              Résidence Odalys<br />
              <%= mail_to('chateau.keraveon@odalys-vacances.com') %><br />
              <%= phone_to('02.97.56.77.23') %>
            </p>
          </li>
          <li>
            <p>
              Auberge du Sous-Bois<br />
              <%= link_to_external('www.auberge-erdeven.com') %><br />
              <%= phone_to('02.97.55.66.10') %>
            </p>
          </li>
          <li>
            <p>
              Hôtel des Voyageurs<br />
              <%= link_to_external('www.hotel-voyageurs-56.com') %><br />
              <%= phone_to('02.97.55.64.47') %>
            </p>
          </li>
        </ul>
      </li>
      <li><b>Ploemel</b><br />
        <ul>
          <li>
            <p>
              Hôtel du Golf St-Laurent<br />
              <%= link_to_external('www.hotel-golf-saint-laurent.com') %><br />
              <%= phone_to('02.97.56.88.88') %>
            </p>
          </li>
        </ul>
      </li>
      <li><b>Belz</b><br />
        <ul>
          <li>
            <p>
              Le Relais de Kergou<br />
              <%= link_to_external('www.relais-kergou.com') %><br />
              <%= phone_to('02.97.55.35.61') %>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <b>Hôtels de Charme</b><br />
    <ul>
      <li><b>Carnac</b><br />
        <ul>
          <li>
            <p>
              La Villa Mane Lann<br />
              <%= link_to_external('www.villamanelann.com') %><br />
              <%= phone_to('02.97.58.31.99') %>
            </p>
          </li>
          <li>
            <p>
              Carnac Lodge<br />
              <%= link_to_external('www.carnaclodge.com') %><br />
              <%= phone_to('02.97.58.30.30') %>
            </p>
          </li>
        </ul>
      </li>
      <li><b>La Trinité sur Mer</b><br />
        <ul>
          <li>
            <p>
              Hôtel Le Lodge de Kérisper<br />
              <%= link_to_external('www.lodge-kerisper.com') %><br />
              <%= phone_to('02.97.52.88.56') %>
            </p>
          </li>
        </ul>
      </li>
      <li><b>Saint Pierre de Quiberon</b><br />
        <ul>
          <li>
            <p>
              Le Petit Hôtel du Grand Large<br />
              <%= link_to_external('www.lepetithoteldugrandlarge.fr') %><br />
              <%= phone_to('02.97.30.91.61') %>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>