<div class="wedding-address">
  <address>
    <span class="glyphicon glyphicon-envelope"></span> : <br />
    <%= address.address.titleize %><br />
    <%= address.city.titleize %>, <%= address.postcode.upcase %><br />
    <%= address.country.titleize %>
  </address>

  <address>
    <span class="glyphicon glyphicon-earphone"></span> : <%= address.phone %><br/>
    <span class="glyphicon glyphicon-send"></span> : <%= address.email.blank? ? "/" : mail_to(address.email.downcase, address.email.downcase) %>
  </address>
</div>