<div id='shared-or-requested-car'>
  <h4><%= t('carpooling.form_title') %></h4>

  <%= form_for(@car, url: wedding_cars_path, remote: true, authenticity_token: true, html: {id: 'form-car', class: 'form-inline', 'role' => 'carpooling'}) do |f| %>

    <%= errors_for(@car, t('carpooling.journey'), id: 'car-errors') %>

    <div>
      <%= tbs3_inline_select(f, :category, nil, Wedding::Car::CATEGORY.map{ |k,v| [t('carpooling.category.'+k.to_s),v] }) %>
      <%= tbs3_inline_select(f, :available_seats, nil, (Wedding::Car::MIN_SEATS..Wedding::Car::MAX_SEATS).map{ |i| [pluralize(i, t('carpooling.seat')), i] }) %>
      <%= tbs3_inline_text_field(f, :from, t('carpooling.from')) %>
      <%= tbs3_inline_text_field(f, :to, t('carpooling.to')) %>
      <%= tbs3_inline_text_field(f, :departure_time, t('carpooling.departure_time'), class: 'departure-time-datetime-picker') %>
    </div>

    <div>
      <%= f.fields_for :driver do |driver_f| %>
        <%= tbs3_inline_text_field(driver_f, :first_name, t('carpooling.first_name')) %>
        <%= tbs3_inline_text_field(driver_f, :family_name, t('carpooling.family_name')) %>
        <%= tbs3_inline_email_field(driver_f, :email, t('carpooling.email')) %>
        <%= tbs3_inline_telephone_field(driver_f, :phone, t('carpooling.phone')) %>
      <% end %>

      <%= tbs3_inline_submit(f, t('carpooling.submit'), id: 'btn-carpooling-submit') %>
    </div>
  
  <% end %>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $('.departure-time-datetime-picker').datetimepicker({
      language: "<%= t('carpooling.departure_time_format') %>"
    });
  });
</script>