<% num_shared_cars = @shared_cars.count %>

<%= content_tag('div', id: 'no-shared-car', class: (num_shared_cars == 0) ? 'visible' : 'hidden') do %>
  <h4><%= t('carpooling.no_shared_car') %></h4>
<% end %>

<%= content_tag('div', id: 'shared-cars', class: (num_shared_cars == 0) ? 'hidden' : 'visible') do %>
  <h4><%= t('carpooling.available_cars') %></h4>
  <table id="table-shared-cars" class="table table-striped table-condensed table-bordered text-center">
    <thead>
      <tr>
        <th><%= t('carpooling.table.from') %></th>
        <th><%= t('carpooling.table.to') %></th>
        <th><%= t('carpooling.table.departure_time') %></th>
        <th><%= t('carpooling.table.available_seats') %></th>
        <th><%= t('carpooling.table.driver') %></th>
        <th><%= t('carpooling.table.contact') %></th>
        <th class="hidden"><%= t('carpooling.table.details_and_join') %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @shared_cars.sort_by { |car| [car.from, car.departure_time, car.to] }.each do |car| %>
        <%= render 'wedding/cars/shared_car', car: car %>
      <% end %>
    </tbody>
    
  </table>
<% end %>