<% remaining_seats = car.remaining_seats %>
<% car_details_id = "car-#{car.id}-details" %>

<%= content_tag(:tr, id: "car-#{car.id}") do %>
  <td><b><%= car.from %></b></td>
  <td><b><%= car.to %></b></td>
  <td><%= l(car.departure_time, format: :default) %></td>
  <%= content_tag(:td, id: "car-#{car.id}-remaining-seats") do %>
    <%= (remaining_seats > 0) ? remaining_seats : t('carpooling.table.full') %>
  <% end %>

  <% driver = car.driver %>
  <td><%= "#{driver.first_name} #{driver.family_name}" %></td>
  <td><%= phone_to(driver.phone) + mail_to_or_default(driver.email, default: '', prefix: ' / ') %></td>
  <%= content_tag(:td, id: "car-#{car.id}-td-btn-toggle", class: 'hidden') do %>
    <%= link_to '', "##{car_details_id}", id: "car-#{car.id}-btn-toggle", 'data-toggle' => 'collapse' %>
  <% end %>
<% end %>

<%= content_tag(:tr, id: car_details_id, class: "collapsible text-left car-details") do %>
  <td colspan="2">&nbsp;</td>
  <td colspan="5">

    <%= content_tag(:div, id: "car-#{car.id}-passengers", class: (car.passengers.count > 0) ? "visible" : "hidden") do %>
      <b>Passengers:</b>
      <%= content_tag(:ol, id: "car-#{car.id}-passengers-list") do %>
        <% car.passengers.select{ |passenger| passenger.is_passenger? }.each do |passenger| %>
          <%= render 'wedding/cars/passenger', car: car, passenger: passenger %>
        <% end %>
      <% end %>
    <% end %>

    <% passenger = instance_variable_get("@passenger_#{car.id}") %>
    <%= content_tag(:div, id: "car-#{car.id}-form", class: (remaining_seats > 0) ? "visible" : "hidden") do %>
      <%= form_for([car, passenger], url: wedding_car_passengers_path(car), remote: true, authenticity_token: true, html: {id: "form-car-#{car.id}", 'role' => 'form'}) do |f| %>
        <%= errors_for(passenger, t('carpooling.passenger'), id: "car-#{car.id}-errors") %>
        <div class='form-group form-inline'>
          <%= f.hidden_field :car_id, value: car.id %>
          <%= f.hidden_field :category, value: Wedding::Passenger::CATEGORY[:passenger] %>
          <%= tbs3_inline_text_field(f, :first_name, t('carpooling.first_name'), class: 'input-sm') %>
          <%= tbs3_inline_text_field(f, :family_name, t('carpooling.family_name'), class: 'input-sm') %>
          <%= tbs3_inline_email_field(f, :email, t('carpooling.email'), class: 'input-sm') %>
          <%= tbs3_inline_telephone_field(f, :phone, t('carpooling.phone'), class: 'input-sm') %>
          <%= tbs3_inline_submit(f, t('carpooling.submit'), id: "btn-add-passenger-to-car-#{car.id}", class: 'btn-sm') %>
        </div>
      <% end %>
    <% end %>

  </td>
<% end %>

<!-- Add invisible line to keep alternating colors between rows in the table -->
<%= content_tag(:tr, class: "hidden") do %>
  <td colspan="7">&nbsp;</td>
<% end %>
