<%= form_for @booking, html: {"role" => "rsvp_form"} do |f| %>

  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul> 
    </div>
  <% end %>

  <div class="form-group">
    <%= f.fields_for :guests do |guest_form| %>
      <%= render "wedding/guests/form_guest", f: guest_form %>
    <% end %>
    <div id="adult-guest-forms" class="inline"></div>
    <%= link_to_add glyphicon("glyphicon-plus", " " + t("rsvp.addAdult")).html_safe, f, :guests, "wedding/guests/form_adult", class: "btn btn-default btn-xs guest-form-btn" %>
    <div id="child-guest-forms" class="inline"></div>
    <%= link_to_add glyphicon("glyphicon-plus", " " + t("rsvp.addChild")).html_safe, f, :guests, "wedding/guests/form_child", class: "btn btn-default btn-xs guest-form-btn" %>

  </div>

  <div class="form-group">
    <h3><%= t("rsvp.contact") %></h3>
    <%= f.fields_for :address do |address_form| %>
      <%= render "wedding/addresses/form", :f => address_form %>
    <% end %>
  </div>

  <div class="form-group">
    <h3><%= t("rsvp.attendance") %></h3>

    <%= f.select :coming, [["", nil], [t("rsvp.y"), true], [t("rsvp.n"), false]], class: "form-control input-sm" %>

    <div id="checkboxes-events-attended">
      <span><%= t "rsvp.i_will_attend" %></span>
      <%= f.fields_for :events do |events_form| %>
        <%= render "wedding/events/form", :f => events_form %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <h3><%= t("rsvp.comments") %></h3>
    <%= f.text_area :comments, class: "form-control", "placeholder" => t("rsvp.comments_description"), :rows => 5 %>
  </div>
 
  <div class="form-group">
    <h3><%= t("rsvp.captcha") %></h3>
    <%= recaptcha_tags :display => { :theme => "clean" } %>
  </div>

  <div class="form-group actions">
    <%= f.submit t("rsvp.submit"), id: "btn-submit", class: "btn btn-default btn-sm" %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $(".adult-guest-form > a").first().hide();
  $("div#checkboxes-events-attended").hide();
  $("input#btn-submit").prop("disabled", true);

  $("select#wedding_booking_coming").change(function() {
    var isComing = $("select#wedding_booking_coming").val();
    if (isComing == "true") {
      $("div#checkboxes-events-attended").show();
      $("input.wedding-event-checkbox").prop("checked", true);
      $("input#btn-submit").prop("disabled", false);
    } else if (isComing == "false") {
      $("div#checkboxes-events-attended").hide();
      $("input.wedding-event-checkbox").prop("checked", false);
      $("input#btn-submit").prop("disabled", false);
    } else {
      $("div#checkboxes-events-attended").hide();
      $("input.wedding-event-checkbox").prop("checked", false);
      $("input#btn-submit").prop("disabled", true);
    }
  });
});
</script>
