<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= content_tag(:div, id: 'notice', class: 'alert alert-success'+(flash[:notice] ? ' visible' : ' hidden')) do %>
      <%= notice %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-info">
      <%= glyphicon('glyphicon-exclamation-sign') %> <%= t("rsvp.notice") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t("rsvp.guest_list") %></h3>
    <%= render "wedding/guests/show_guests_details", guests: @booking.guests %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t("rsvp.contact") %></h3>
    <address>
      <%= glyphicon('glyphicon-earphone') %> : <%= @booking.phone %><br/>
      <%= glyphicon('glyphicon-envelope') %> : <%= @booking.email.blank? ? "/" : mail_to(@booking.email.downcase, @booking.email.downcase) %>
    </address>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t("rsvp.attendance_title") %></h3>
    <%= render "wedding/events/show_events_table", booked_events: @booking.events %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t("rsvp.comments") %></h3>
    <%= @booking.comments %>
  </div>
</div>
