<p id="notice"><%= notice %></p>

<p>
  <strong>Guests:</strong>
  <%= render "wedding/guests/show_guests_details", guests: @booking.guests %>
</p>

<p>
  <strong>Address:</strong>
  <div class="wedding-address">
    <address>
      <span class="glyphicon glyphicon-earphone"></span> : <%= @booking.phone %><br/>
      <span class="glyphicon glyphicon-send"></span> : <%= @booking.email.blank? ? "/" : mail_to(@booking.email.downcase, @booking.email.downcase) %>
    </address>
  </div>
</p>

<p>
  <strong>Attendance:</strong>
  <%= render "wedding/events/show_events_table", booked_events: @booking.events %>
</p>

<p>
  <strong>Comments:</strong><br />
  <%= @booking.comments %>
</p>