<div class="adult-guest-form guest-form form-inline fields">
  <%= tbs3_inline_text_field(f, :first_name, t('rsvp.first_name')) %>
  <%= tbs3_inline_text_field(f, :family_name, t('rsvp.family_name')) %>
  <%= f.hidden_field :category, value: Wedding::Guest::CATEGORY[:adult] %>
  <%= f.hidden_field :menu, value: Wedding::Guest::MENU[:adult] %>
  
  <%= link_to_remove glyphicon('glyphicon-remove').html_safe, f, class: "btn btn-default btn-xs" %>
</div>
