<div class="adult-guest-form guest-form">
  <div class="field form-group">
    <%= f.label :first_name, t("rsvp.first_name"), class: "sr-only" %>
    <%= f.text_field :first_name, class: "form-control input-sm", "placeholder" => t("rsvp.first_name") %>
  </div>
  <div class="field form-group">
    <%= f.label :family_name, t("rsvp.family_name"), class: "sr-only" %>
    <%= f.text_field :family_name, class: "form-control input-sm", "placeholder" => t("rsvp.family_name") %>
  </div>

  <%= f.link_to_remove "<span class='glyphicon glyphicon-remove'></span> ".html_safe, class: "btn btn-xs" %>
</div>
