<!DOCTYPE html>
<html>
<head>
  <title>H&eacute;l&egrave;ne &amp; Marc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/simplex/bootstrap.min.css" rel="stylesheet">
  <link href="//eonasdan.github.io/bootstrap-datetimepicker/styles/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//eonasdan.github.io/bootstrap-datetimepicker/scripts/moment.js"></script>
  <script src="//eonasdan.github.io/bootstrap-datetimepicker/scripts/bootstrap-datetimepicker.js"></script>
  <script src="//eonasdan.github.io/bootstrap-datetimepicker/scripts/locales/bootstrap-datetimepicker.en-gb.js"></script>
  <script type="text/javascript">
    (function (factory) {
        if (typeof define === 'function' && define.amd) {
            define(['moment'], factory); // AMD
        } else if (typeof exports === 'object') {
            module.exports = factory(require('../moment')); // Node
        } else {
            factory(window.moment); // Browser global
        }
    }(function (moment) {
        return moment.lang('fr', {
            months : "Janvier_Février_Mars_Avril_Mai_Juin_Juillet_Août_Septembre_Octobre_Novembre_Décembre".split("_"),
            monthsShort : "Janv._Févr._Mars_Avr._Mai_Juin_Juil._Août_Sept._Oct._Nov._Déc.".split("_"),
            weekdays : "Dimanche_Lundi_Mardi_Mercredi_Jeudi_Vendredi_Samedi".split("_"),
            weekdaysShort : "Dim._Lun._Mar._Mer._Jeu._Ven._Sam.".split("_"),
            weekdaysMin : "Di_Lu_Ma_Me_Je_Ve_Sa".split("_"),
            longDateFormat : {
                LT : "HH:mm",
                L : "DD/MM/YYYY",
                LL : "D MMMM YYYY",
                LLL : "D MMMM YYYY LT",
                LLLL : "dddd D MMMM YYYY LT"
            },
            calendar : {
                sameDay: "[Aujourd'hui à] LT",
                nextDay: '[Demain à] LT',
                nextWeek: 'dddd [à] LT',
                lastDay: '[Hier à] LT',
                lastWeek: 'dddd [dernier à] LT',
                sameElse: 'L'
            },
            relativeTime : {
                future : "dans %s",
                past : "il y a %s",
                s : "quelques secondes",
                m : "une minute",
                mm : "%d minutes",
                h : "une heure",
                hh : "%d heures",
                d : "un jour",
                dd : "%d jours",
                M : "un mois",
                MM : "%d mois",
                y : "un an",
                yy : "%d ans"
            },
            ordinal : function (number) {
                return number + (number === 1 ? 'er' : '');
            },
            week : {
                dow : 1, // Monday is the first day of the week.
                doy : 4  // The week that contains Jan 4th is the first week of the year.
            }
        });
    }));
  </script>

  <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <%= link_to "Hélène & Marc", wedding_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% prefix = params.has_key?(:locale) ? '/'+params[:locale] : '' %>
              <li class="<%= 'active' if current_page?(prefix+wedding_story_path) %>"><%= link_to t('menu.story'), wedding_story_path %></li>
              <!--<li class="<%= 'active' if current_page?(prefix+wedding_photos_path) %>"><%= link_to t('menu.photos'), wedding_photos_path %></li>-->
              <li class="<%= 'active' if current_page?(prefix+wedding_program_path) %>"><%= link_to t('menu.program'), wedding_program_path %></li>
              <li class="bold <%= 'active' if current_page?(prefix+wedding_rsvp_path) %>"><%= link_to t('menu.rsvp'), wedding_rsvp_path, "data-no-turbolink" => true %></li>
              <li class="<%= 'active' if current_page?(prefix+wedding_transports_path) %>"><%= link_to t('menu.transports'), wedding_transports_path %></li>
              <li class="<%= 'active' if current_page?(prefix+wedding_stay_path) %>"><%= link_to t('menu.stay'), wedding_stay_path %></li>
              <li class="<%= 'active' if current_page?(prefix+wedding_area_path) %>"><%= link_to t('menu.area'), wedding_area_path %></li>
              <li class="<%= 'active' if current_page?(prefix+wedding_gifts_path) %>"><%= link_to t('menu.gifts'), wedding_gifts_path %></li>
              <li class="<%= 'active' if current_page?(prefix+wedding_contact_path) %>"><%= link_to t('menu.contact'), wedding_contact_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="flag"><%= link_to image_tag('i18n/en.gif'), url_for(locale: :en), title: 'English version', 'data-no-turbolink' => true %></li>
              <li class="flag"><%= link_to image_tag('i18n/fr.gif'), url_for(locale: :fr), title: 'Version française', 'data-no-turbolink' => true %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Page content -->
      <div class="container">   
        <%= yield %>
      </div>

    </div><!--/#wrap -->

    <div id="footer">
      <div class="container">
        <p class="text-muted text-center">Copyright &copy; 2014 - Marc Carr&eacute;</p>
      </div>
    </div>
  </body>
</html>
